* {
  box-sizing: border-box;
  margin: 0;
}

body{  
  background-image: url('../img/comida.jpg');
  line-height: 1.5;
  color: #212529;
}

main {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

div.form-div {
  margin-bottom: 16px;
}

#calculator {
  background-color: rgba(193, 66, 66, 0.6);
  margin-top: 50px;
  padding: 20px;
  border-radius: 30px;
  width: 50%;
  display: inline-block;
  font-family: 'Gotu', sans-serif;
  color: white;
}

input[type=range] {
  width: 100%;
  height: 1.4rem;
  font-size: 1rem;
}

input[type=number] {
  width: 100%;
  height: 38px;
  font-size: 1rem;
  font-family: inherit;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=number]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}